.ipynb_checkpoints
lab4/data
lab4/hotdog
lab4/toothbrushes.jpg
lab4/chest_xray
lab4/lab_4_correct.ipynb
lab5/gdrive
lab5/poquad-dev.json
lab5/poquad-train.json
lab7/ml-100k.zip
lab7/ml-100k
lab7/lab_7.html